[submodule "packages/hardhat/lib/openzeppelin-contracts"]
	path = packages/hardhat/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.2
